In [1]:
x = "sagar"
print(x)

sagar

In [2]:
5+8

13

In [3]:
7/2

3.5

In [4]:
7%2

1

In [5]:
31%6

1

In [6]:
55//588

0

In [7]:
5599//55

101

In [11]:
#_Example:_

# Variables in Python
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
   'firstname':'Asabeneh',
   'lastname':'Yetayeh',
   'country':'Finland',
   'city':'Helsinki'
   }

In [12]:
var = 3556
print(var)

3556

In [ ]:
var_1 = 5675548485158856

In [13]:
print(var_1)

NameError: name 'var_1' is not defined

In [14]:
_ = 5445
print(_)

5445

In [15]:
abc = "sagar"
print(abc)

sagar

In [ ]:
l = 54444

In [18]:
print()

In [19]:
kkk = 554454 
print(kkk)

554454

In [20]:
type(kkk)

int

In [21]:
type(abc)

str

In [22]:
print('Hello, World!')

Hello, World!

In [23]:
print('Hello',',', 'World','!')

Hello , World !

In [24]:
print(len('Hello, World!'))

13

In [28]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Asabeneh
First name length: 8
Last name:  Yetayeh
Last name length:  7
Country:  Finland
City:  Helsinki
Age:  250
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']

NameError: name 'person_info' is not defined

In [29]:

first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True

In [30]:

first_name = input('What is your name: ')

What is your name:  sagar

In [34]:
first name = input('name: ')

SyntaxError: invalid syntax (2846680603.py, line 1)

In [36]:
first_name = input('what is your name: ')

what is your name:  sagar

In [37]:
first_name = input('name: ')

name:  sagar

In [38]:
age = input('How old are you? ')

How old are you?  25

In [40]:
print(first_name)
print(age)

sagar
25

In [41]:
input()

 5

'5'

In [42]:
input("number is :")

number is : 55655

'55655'

In [44]:
type("unmber is")

str

In [45]:

first_name = 'Asabeneh'     # str
last_name = 'Yetayeh'       # str
country = 'Finland'         # str
city= 'Helsinki'            # str
age = 250                   # int, it is not my real age, don't worry about it

In [46]:
print(first_name)

Asabeneh

In [47]:
# Printing out types
print(type('Asabeneh'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list
print(type({'name':'Asabeneh','age':250, 'is_married':250}))    # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))                                   # set

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

In [48]:
type({3,5.5, "py", True})

set

In [49]:
type({5,5.6, "py", True})

set

In [50]:
num_int = 10
print('num_int',num_int)

num_int 10

In [51]:
num_float = float(num_int)
print('num_float:', num_float)

num_float: 10.0

In [53]:

num = 56
type(num)

int

In [54]:
type(float(num))

float

In [55]:
dec = 30.55
int(dec)

30

In [56]:

digit = 5678
str(digit)

'5678'

In [57]:
str1 = "python"

int(str1)

ValueError: invalid literal for int() with base 10: 'python'

In [58]:
str2 = "2716498"
type(str2)

str

In [59]:
int(str2)

2716498

### Exercises: Level 1

## 1. Inside 30DaysOfPython create a folder called day_2. Inside this folder create a file named variables.py

In [62]:
x = "sagar bawankule"
print(x)

sagar bawankule

In [63]:
x =  'Day 2: 30 Days of python programming'
print(x)

Day 2: 30 Days of python programming

In [64]:
x = "sagar"
print(x)

sagar

In [65]:
x = "bawankule"
print(x)

bawankule

In [66]:
x = "sagar"
b = "bawankule"
print(x, b)

sagar bawankule

In [67]:
x = "INDIA"
print(x)

INDIA

In [68]:
x = "nagpur"
print(x)

nagpur

In [69]:
x = "sagar"
age = 25
print(x , age)

sagar 25

In [70]:
x = 2024
print(x)

2024

In [71]:
color, fruit, pet = "blue", "apple", "dog"
print(color, fruit, pet)

blue apple dog

In [73]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 250
is_married = True
is_'Asabeneh' = True

In [76]:
print(is_married)

True

In [78]:
print(is_'Asabeneh')

SyntaxError: invalid syntax (499010147.py, line 1)


### Exercises: Level 2

In [82]:
first_name = "Bard"
last_name = "bawankule "  # Add your last name here
full_name = first_name + last_name
country = "Canada"  # Replace with your country
city = "Toronto"  # Replace with your city
age = 29  # Replace with your age (if comfortable sharing)
year = 2024  # Current year
is_married = False  # Change to True if married
is_true = True
is_light_on = False

In [84]:
# Print variable data types
print("Data types of your variables:")
print(f"first_name: {type(first_name)}")
print(f"last_name: {type(last_name)}")
print(f"full_name: {type(full_name)}")
print(f"country: {type(country)}")
print(f"city: {type(city)}")
print(f"age: {type(age)}")
print(f"year: {type(year)}")
print(f"is_married: {type(is_married)}")
print(f"is_true: {type(is_true)}")
print(f"is_light_on: {type(is_light_on)}")

Data types of your variables:
first_name: <class 'str'>
last_name: <class 'str'>
full_name: <class 'str'>
country: <class 'str'>
city: <class 'str'>
age: <class 'int'>
year: <class 'int'>
is_married: <class 'bool'>
is_true: <class 'bool'>
is_light_on: <class 'bool'>

In [87]:
first_name =

SyntaxError: invalid syntax (693356944.py, line 2)

In [88]:
x = "sagar"
print(type(x))

<class 'str'>

In [94]:
x123= "bawankule"

In [89]:
x = "bawankule"
print(type(x))

<class 'str'>

In [90]:
country = "Canada"
print(type(country))

<class 'str'>

In [95]:
print(type(x))
print(type(x123))
print(type(country))

<class 'str'>
<class 'str'>
<class 'str'>

In [96]:
x = "sagar bawankule"
print(len(x))

15

In [98]:
num_one = 5
num_two = 4

In [103]:
print("num_one",  "num_two")

num_one num_two

In [110]:
radius = 30
area_of_circle = 3.14159* 30**2

print(area_of_circle)

2827.431

In [107]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
country = input("Enter your country: ")

# Get age as an integer using type conversion
age = int(input("Enter your age: "))

Enter your first name:  sagar
Enter your last name:  bawankule
Enter your country:  in
Enter your age:  25

In [108]:
name = input("name: ")

name:  sagar

In [111]:
# Calculate circumference
circum_of_circle = 2 *  3.1415 *30
print(circum_of_circle)

188.49

In [112]:
# Calculate area of circle
area_of_circle = 3.1415 * 30**2
print(area_of_circle)

2827.3500000000004